* { box-sizing: border-box; }

body {
  background: cornsilk;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

h1 {
  position: relative;
  margin: 12px 0;
}

.z {
  position: absolute;
  display: inline-block;
  width: 50%;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

#prev-month {
  left: 0;
}

#next-month {
  right: 0;
}

#scoreboard {
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
  max-width: 652px;
  background: green;
  padding: 4px 0;
  color: ghostwhite;
}

#scoreboard > div {
  display: flex;
  align-items: center;
  font-size: 22px;
}

#scoreboard > div > small {
  letter-spacing: -1px;
  margin-left: 3px;
}

@media (min-width: 652px) {
  #scoreboard > div {
    font-size: 28px;
  }

  #calendar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto;
    max-width: 652px;
    max-height: 87vh;
  }
}

#calendar > div {
  min-width: 320px;
  padding: 4px;
}

.date-container {
  border-bottom: 1px solid gray;
}

.date {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.log-entry {
  margin-right: 8px;
}

.log-entry > small.quantity {
  position: relative;
  top: -3px;
  font-size: 11px;
  letter-spacing: -1px;
}

.dayOfMonth {
  font-size: 28px;
  min-width: 28px;
  text-align: right;
}

.day {
  font-size: 14px;
  min-width: 82px;
  opacity: .5;
  padding: 0 8px;
  text-align: left;
}

.sabbath {
  color: red;
}
